.blank-side {
    flex-grow: 1;
    height: calc(100vh - var(--space-xxl) - var(--space-xxl));
    padding: var(--space-xxl);
}

.blank {
    width: 100%;
    height: auto;


}

.blank__container {
    display: block;
    width: 50vw;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.15);

}

.blank__info {

    padding: var(--space-xxl);
}