.btn {
    border: 0 solid transparent;
    box-shadow: none;
    padding-top: var(--space-m);
    padding-bottom: var(--space-m);
    color: var(--white);
    font-weight: 500;
    border-radius: 6px;

}

.btn-wrapper {
    display: flex;
}

.btn-wrapper .btn {
    flex-grow: 1;
    margin-right: var(--space-xl);
}

.btn-wrapper .btn:last-of-type {
    margin-right: 0;
}

.btn--primary {
    background-color: var(--color-primary);
}

.btn--secondary {
    background-color: var(--color-secondary);
}