@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    color: var(--grey);
    display: flex;
    background: #000;
}

html {
    font-size: var(--typo-size-s);
    font-family: 'Rubik', sans-serif;
}