.form-side {

    height: 100vh;
    overflow-y: auto;

}

.form {
    padding: var(--space-xxl);
}

.form__section {
    appearance: none;
    border: none;
    padding-bottom: var(--space-xl);
}

.form__title {
    color: var(--color-primary);
    padding-bottom: var(--space-xl);
    font-size: var(--typo-size-l);
    font-family: 'Rubik', sans-serif;
}

.form__row {
    display: flex;

}

.form__row .form__input {
    margin-right: var(--space-xl);
}

.form__row .form__input:last-of-type {
    margin: 0;
}

label.form__row {
    display: flex;
    align-items: center;
}

label.form__row .label {
    margin-right: var(--space-s);
}