.form__input {
    display: block;
    padding-bottom: var(--space-xl);
}

.form__input>.label,
.form__input>.input {
    display: block;
    width: 100%;
}

.label {
    padding: 0 0 var(--space-s) var(--space-s);
}

.input {
    min-width: 10px;
    width: 100%;
    padding: var(--space-s);
    border: none;
    border-radius: var(--border-radius-m);
    background-color: var(--background-grey);
    outline: none;
}

.input[type="number"] {
    appearance: textfield;
}

.form__select-container {
    display: flex;
    justify-content: space-between;
}

.select-wrapper {
    position: relative;

    margin-left: var(--space-m);
    padding: var(--space-s);
    width: 30%;
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: none;
    background-image: none;
}

.select-wrapper::before {
    content: "";
    display: block;
    position: absolute;
    top: 16px;
    bottom: 0px;
    right: -4px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid var(--grey);
}

.select:focus {
    outline: none;
}