:root {
    --color-primary: #75AE2C;
    --color-primary-50: #80BBDE;
    --color-primary-10: #E6F1F8;

    --color-secondary: #2C41AE;
    --color-secondary-20: #F4F2D2;

    --color-success: #78E47C;
    --color-success-20: #E4FAE5;

    --color-error: #C15757;

    --white: #ffffff;

    --grey: #424242;
    --light: #9B9B9B;
    --background-grey: #F6F6F6;

    --space-xxl: 40px;
    --space-xl: 20px;
    --space-l: 16px;
    --space-m: 12px;
    --space-ms: 10px;
    --space-s: 8px;
    --space-xs: 4px;
    --space-xxs: 2px;

    --typo-size-xl: 40px;
    --typo-size-l: 36px;
    --typo-size-m: 24px;
    --typo-size-s: 18px;
    --typo-size-xs: 12px;

    --border-width: 2px;
    --border-radius-m: 6px;
    --border-radius-full: 100px;
}